/* Color map */
.primary {color: #FF0000;}
.secondary {color: #0A182D;}
.fourth {color: #5383cc;}



.bg-secondary { background-color: #6c757d ;}
/* Journey elements */
.bg-dark-journey1 {
  width: 100%;
  max-height: 200px;
  padding:5px;
  background-color:  rgba(18, 40, 78, 0.7)!important;
  border: 5px rgba(255, 255, 255, 0.3) solid;
}
.bg-dark-journey1:hover {
  background-color:  rgba(255, 255, 255, 0.7)!important;
  color:#FF0000;
}
.bg-dark-journey2 {
  background-color:  rgba(0, 81, 142, 0.8)!important;
}
.icon_numeric {
 position:relative; z-index: 10; background:#5383cc ; padding:10px;width: 70px; border: 10px #5383cc solid;  border-radius: 50%; text-align: center; vertical-align: middle;margin:auto;} 
.icon_numeric:hover {background:#FF0000 ; border: 10px #FF0000 solid;} 


#myProgress {
  position: relative;
  top: 90px;
  z-index: 0;
  width: 100%;
}

#progressbar {
  opacity: 0; 
  width: 0%;
  height: 14px;
  border-radius:28px;
  background-color: #5383cc;
  -webkit-animation: fadein 500ms linear forwards;  
  animation: fadein 500ms linear forwards;
  animation-delay: 100ms!important;
}

#journey-1 {
  opacity: 0;  height: auto!important;  padding-top: 10rem;  padding-bottom: 1rem!important;  -webkit-animation: fadein 500ms linear forwards;  animation: fadein 500ms linear forwards;
  animation-delay: 500ms;
}
#journey-2 {
  opacity: 0;  height: auto!important;  padding-top: 10rem;  padding-bottom: 1rem!important;  -webkit-animation: fadein 500ms linear forwards;  animation: fadein 500ms linear forwards;
  animation-delay: 1500ms;
}
#journey-3 {
  opacity: 0;  height: auto!important;  padding-top: 10rem;  padding-bottom: 1rem!important;  -webkit-animation: fadein 500ms linear forwards;  animation: fadein 500ms linear forwards;
  animation-delay: 2500ms;
}
#journey-4 {
  opacity: 0;  height: auto!important;  padding-top: 10rem;  padding-bottom: 1rem!important;  -webkit-animation: fadein 500ms linear forwards;  animation: fadein 500ms linear forwards;
  animation-delay: 3500ms;
}
#journey-5 {
  opacity: 0;  height: auto!important;  padding-top: 10rem;  padding-bottom: 1rem!important;  -webkit-animation: fadein 500ms linear forwards;  animation: fadein 500ms linear forwards;
  animation-delay: 4500ms;
}
#journey-6 {
  opacity: 0;  height: auto!important;  padding-top: 10rem;  padding-bottom: 1rem!important;  -webkit-animation: fadein 500ms linear forwards;  animation: fadein 500ms linear forwards;
  animation-delay: 5500ms;
}


/* Elements */

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #FF0000;
    opacity: 1;
  }

  hr.divider-light {
    background-color: #fff;
    margin: 1.5rem auto;
  }
 .spacer {
    min-height: 1vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }


/* Text */
.subtitle {
    font-weight: 200!important;
    text-transform: uppercase;
}


/* HOME PAGE */

.navbar-brand {
  font-size: 2rem;
  margin: 30 0 auto auto;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #ffffff;
}
.block-title {
  line-height: 3rem;
}

.navbar-brand h2 {
  font-weight: 700!important;
}

.page-section {
  padding: 8rem 0 ;
}

.block-header {
  display: flex;
}

.ifrc {height: 45px; float: left; margin: 5px;}

.square {
  width:10px;
  height: 10px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #FF0000;
}



.line-1 {
  width:30%;
  height: 1px;
  position: relative;
  top: -105px;
  left: -2%;
  z-index: 0;
  background-color: #ffffff31;
}
.line-2 {
  width:30%;
  height: 1px;
  position: relative;
  top: -105px;
  left: 2%;
  z-index: 0;
  background-color: #ffffff31;
}
.separator {
  color:#6c757d;
  width:30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#underline {
  display:block;
  font-size: 0.73rem;
  margin-top: 5px;
  margin-right: 10px;
  color: #FF0000;
}
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 00%, rgba(18, 40, 78, 1) 15%, rgba(18, 40, 78, 0.7) 30%), url("../assets/img/bg-trustindex.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #0A182D;
    background-blend-mode: normal,luminosity;
    
  
}

#country_profile {
  min-height: 400px!important;
  padding-top: 10rem;
  padding-bottom: 1rem!important;
  background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 00%, rgba(18, 40, 78, 1) 25%, rgba(18, 40, 78, 0.7) 100%), url("../assets/img/country/ZMB1.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #0A182D;
  background-blend-mode: normal,luminosity; 
}

#faq {
  min-height: 400px!important;
  padding-top: 10rem;
  padding-bottom: 1rem!important;
  background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 00%, rgba(18, 40, 78, 1) 25%, rgba(18, 40, 78, 0.7) 100%), url("../assets/img/country/ZMB1.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #0A182D;
  background-blend-mode: normal,luminosity; 
}

.question {
  color:#0A182D;
  font-weight: bold;
  padding-left: 20px;
  border-left:#5383cc solid 5px;
}


#country_zmb{
  height: auto!important;
  padding-top: 10rem;
  padding-bottom: 1rem!important;
  background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 00%, rgba(18, 40, 78, 1) 25%, rgba(18, 40, 78, 0.7) 100%), url("../assets/img/country/ZMB1.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #0A182D;
  background-blend-mode: normal,luminosity; 
}
#country_arg{
  min-height: 400px!important;
  padding-top: 10rem;
  padding-bottom: 1rem!important;
  background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 00%, rgba(18, 40, 78, 1) 25%, rgba(18, 40, 78, 0.7) 100%), url("../assets/img/country/ARG1.jpg"); 
  background-position: middle;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #0A182D;
  background-blend-mode: normal,luminosity; 
}

#toolkit {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 00%, rgba(18, 40, 78, 1) 15%, rgba(18, 40, 78, 0.7) 30%), url("../assets/img/bg-trustindex2.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #0A182D;
  background-blend-mode: normal,luminosity; 
}

#case_stories {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 00%, rgba(18, 40, 78, 1) 15%, rgba(18, 40, 78, 0.7) 30%), url("../assets/img/bg-country_jpg.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0A182D;
  background-blend-mode: normal,luminosity;
}
#about {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 00%, rgba(18, 40, 78, 1) 15%, rgba(18, 40, 78, 0.7) 100%), url("../assets/img/bg-trustindex3.jpg"); 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0A182D;
  background-blend-mode: normal,luminosity;
}


  #case_stories .container .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
    position: relative;
    display: block;
  }
  #case_stories .container .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: var(--bs-primary-rgb-fade);
    transition: opacity 1s ease;
    text-align: center;
  }
  #case_stories .container .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
    font-family:"Open Sans";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  #case_stories .container .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
  }
  #case_stories .container .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
  }

  #starter {
    padding: 5rem 5rem 2rem 5rem;
    min-height: 90vh;
    background: linear-gradient(to bottom, rgba(18, 40, 78, 1) 25%, rgba(0, 81, 142, 0.5) 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

/* Buttons */


  .btn-primary {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
  }
  .btn-secondary {
    color: #fff;
    background-color: #5383cc;
    border-color: #5383cc;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #9A0000;
    border-color: #9A0000;
  }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #9A0000;
    border-color: #9A0000;
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #9A0000;
    border-color: #9A0000;
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
  }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #EF6C00;
    border-color: #EF6C00;
  }

  .btn-icon {
    color: #fff!important;
    cursor: pointer;
  }
  .btn-icon:hover {
    color: #FF0000!important;
  }


  #faq .btn {
  line-height: 1.2;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

  .ct-btn-scroll {
    width: 49px;
    height: 49px;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
  }

/* Effect */

@-webkit-keyframes fadeout {
    90% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeout {
    90% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.tooltip > .tooltip-inner {
  margin-top:10px;
  width: 350px!important;
  background-color: #190425; 
  color: #FFFFFF; 
  border: 1px solid #190425; 
  padding: 15px;
  font-size: 18px;
}
/* Tooltip on top */
.tooltip.bottom > .tooltip-arrow {
  top: 10px;
}